body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.shutterstock.com/image-vector/fingerprint-scanning-on-circuit-board-600nw-2441137057.jpg');
    background-color: black;
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Ensures the body takes the full height of the viewport */
    margin: 0; /* Removes default margin */
    color: #fff; /* White text */
    text-align: center;
    overflow: hidden;
}


.container {
    display: grid;
    /* position: absolute; */
    
    max-width: fit-content;
    /* margin: 0 auto; */
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* align-items: center;
    align-content: center;
    text-align: center; */
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.form-container {
    background-color: #222;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 5px 5px rgb(255, 255,255,0.3);
    
}

form {
    margin-bottom: 30px;
}

input {
    width: 90%;
    padding: 12px;
    border: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #333;
    color: #fff;
    margin-top: 25px;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 28px;
    border: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}